@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookshelf</h1>
    <p>All your books listed in a one place, easy to manage.<a asp-area="" asp-controller="Books" asp-action="Index"> <br /> Check book database >></a></p>
    <div style="background-color: #ce9e9e"><img src="~/static/background.jpg" alt="background picture" height="600" /></div>
</div>
