@model Bookshelf.Models.Author

@{
    ViewData["Title"] = "Delete Author";
}

<h1>Delete</h1>
<br />
<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Author's Books
        </dt>
        <dd class="col-sm-10">
            @foreach (var book in Model.AuthorsBooks)
            {
                @book.Book.Title <br />
            }
        </dd>
    </dl>
    <br />
    <p class="alert alert-danger">Are you sure you want to delete this author?</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="AuthorID" />
        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@Model.AuthorID"><i class="fas fa-angle-left"></i> Back to Details</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
