@model IEnumerable<Bookshelf.Models.Author>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Authors";
}

<h1>Author Database</h1>
<br />
<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-outline-success" asp-action="Create">Add a new author <i class="fas fa-plus"></i></a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Author
            </th>
            <th></th>
            @if (SignInManager.IsSignedIn(User))
            {
                <th></th>
            }
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.AuthorID">Details <i class="fas fa-angle-double-right"></i></a>
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.AuthorID">Edit <i class="far fa-edit"></i></a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.AuthorID">Delete <i class="far fa-trash-alt"></i></a>
                </td>
            }
            </tr>
        }
    </tbody>
</table>
